body{
  color:red;
}

.page {
  font-family: cursive;
  margin: 40px auto;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
}

h1 {
  background-color: white;
  margin: 20px;
  padding: 10px 20px
}
