body {
  color:black;
  font-family: 'Ubuntu', sans-serif;
  background-color:lightskyblue;
}

h1 {
  font-size: 45px;
  color: black;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

video{
  margin: 0 auto;
	border: 10px outset #ddd;
}

image{
  margin: 0 auto;
}