body {
  color:black;
  font-family: 'Ubuntu', sans-serif;
  background-color:lightskyblue;
}

a:hover {
  background-color: yellow;
  width: 210px;
  height: 30px;
  transition: width 1s;
}

h1 {
  font-size: 45px;
  color: black;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  width: 160px;
  text-decoration: none;
}

video{
  margin: 0 auto;
	border: 10px outset #ddd;
}

image{
  margin: 0 auto;
}